@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

#form-input {
  padding: 1em 0;
}

#form-output {
  margin-bottom: 2em;
}

#form-output-preview {
  padding: 1em 0;
}

.g-audio.g-audio--initialized .g-audio--playbutton:before,
.g-audio.g-audio--initialized.pause .g-audio--playbutton:before {
  margin-top: 0;
  margin-bottom: 0;
}
